[ req ]
attributes=req_attributes
distinguished_name=req_distinguished_name
req_extensions=v3_req
x509_extensions=usr_cert

[ v3_req ]
basicConstraints=CA:FALSE
nsCertType=client,server,email
keyUsage=digitalSignature,nonRepudiation,keyEncipherment,dataEncipherment,keyAgreement,keyCertSign,cRLSign,encipherOnly,decipherOnly
extendedKeyUsage=serverAuth,clientAuth,codeSigning,emailProtection
subjectKeyIdentifier=hash

[ req_distinguished_name ]

[ req_attributes ]

[ ca ]
default_ca=CA_default			# The default ca section

[ CA_default ]
copy_extensions=copy
x509_extensions=usr_cert

[ usr_cert ]
basicConstraints=CA:TRUE
nsCertType=client,server,email
keyUsage=keyCertSign,cRLSign 
extendedKeyUsage=serverAuth,clientAuth,codeSigning,emailProtection
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer
